<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Register</h1>
        </div>
        <div style="width: 30%; margin:30px auto;">
            
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="Password">  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>




<% include partials/footer.ejs %>