<% include ../partials/header.ejs %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><span class="glyphicon glyphicon-tent"></span> Welcome to YelpCamp!</h1>
                    <p>View our hand-picked Campgrounds from all over the world</p>
                    <p>
                        <a class="btn btn-primary btn-sm" href="/campgrounds/new"><strong>Add New Campground</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    

    
    
    <div class="row text-center flex-wrap" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" width="100%">
                    <div class="caption">
                        <h4><%= campground.name %></h4> 
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>



<% include ../partials/footer.ejs %>