a, a:hover, a:focus {
    text-decoration: none;
}

.hr-card {
    border: 0;
    width: 70%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header-avatar {
    width: 20px;
    height: 20px;
}

.thumbnail img {
    width: 100%;
    
}

.thumbnail {
    padding: 0;
}

.user-profile-about {
    margin-top: 30px;
    padding: 0 10px;
}

.card-shadow {
  box-shadow: 0 16px 28px rgba(0,0,0,0.25), 0 12px 10px rgba(0,0,0,0.22);
}

.push-right {
    display: inline-block;
    margin-left: 30%;
}

.user-campground-list {
    width: 22%;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-user {
    margin-right: 3px;
}

.capitalize {
    text-transform: capitalize;
}

.delete-form {
    display: inline;
}

.comment-col {
    margin-bottom: 10px;
}

/*GOOGLE MAPS STYLING*/
#map {
    height: 400px;
    width: 100%;
}

/*Admin*/
#admin {
    float: right;
    font-size: 8px;
    color: #3B8FD5;
    margin: 2px;
}

.admin-user {
    color: #3B8FD5;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}